<h1>Dice Roll</h1>
<ul>
  <li><%= link_to "Roll two 6-sided dice", "/dice/2/6" %></li>
  <li><%= link_to "Roll two 10-sided dice", "/dice/2/10" %></li>
  <li><%= link_to "Roll one 20-sided die", "/dice/1/20" %></li>
  <li><%= link_to "Roll five 4-sided dice", "/dice/5/4" %></li>
</ul>
